


.bg-img {
/* The image used */
    background-image: url("/static/img/wine-bottles.png");
    background-size: cover;
    
    border: 10px solid black;
    padding-bottom: 150px;
}


.col-boarder {
    background: lightskyblue;
    border: 5px solid black;
  }


h1 { color: #0F00F0; }