{% extends "bootstrap/base.html" %}

{% block title %}   
Wine Web Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type= "text/css" href="{{url_for('.static', filename='css/winestyle.css')}}">
{% endblock %}

{% block content %}

	<body style="background:#ffeedb">
		<div class="container"  style="margin-top: 20px;">
			<div class="card card-sty" >
				<div class="card-body card-bod-sty mx-auto">
					<h4 class="card-title"> Please login or register</h4>  
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
						<p><strong>Error: </strong>{{ message }}
						{% endfor %}
					{% endif %}
					{% endwith %}
					<form action="" method="post">
						<div>
							<p>
								{{ form.username.label}}
								{{ form.username}}
							</p>
						 </div>
						 <div>
							<p>
								{{ form.password.label}}
								{{ form.password}}
							</p>
						 </div> 
						 <p>{{ form.submit() }}</p>
						 <div> <a href="{{ url_for('register') }}" type="submit"> Register New User</a> </div>
					 </form>
				</div>
			</div>
		</div>	
		
	</body>

{% endblock %}