{% extends "base.html" %}


{% block title %}   
Wine Web New Log Entry
{% endblock %}


{% block content %}

	<div class="container">
		<div class="jumbotron jum-sty">
			<h3> Enter log information below. </h3>
			  <form action="" method="post">
			  <div class="grid-container">
				<div>
					{{ form.winename.label}}
				</div>
				<div style = "align: right">
					{{ form.winename}}
				</div>
			
			
				<div>
					{{ form.winevar.label}}
				</div>
				<div style = "align: right">
					{{ form.winevar}}
				</div>
			
			
				<div>
					{{ form.wineyear.label}}
				</div>
				<div style = "align: right">
					{{ form.wineyear}}
				</div>
			
				<div>
					{{ form.price.label}}
				</div>
				<div style = "align: right">
					{{ form.price}}
				</div>
				
				<div>
					{{ form.purchasepoint.label}}
				</div>
				<div style = "align: right">
					{{ form.purchasepoint}}
				</div>
			
				<div>
					{{ form.rating.label}}
				</div>
				<div style = "align: right">
					{{ form.rating}}
				</div>
			
				<div>
					{{ form.logcontent.label}}
				</div>
				<div style = "align: right">
					{{ form.logcontent}}
				</div>
			
				<div>
					<a href="{{ url_for('profile') }}" type="submit" class="btn btn-col">Enter Log</a>
				</div>
			</div>
			</form>
			 
			
		</div>
	</div>	

{% endblock %}