{% extends "base.html" %}


{% block title %}   
Wine Web Catalog
{% endblock %}


{% block content %}
        
        <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Wine Name</th>
                            <th>Year</th>
                            <th>Winery</th>
                            <th>Variety</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in wines %}
                        </tr>
                            <td><button name="details" type="submit" value="{{row.wine_name}}">Details</button></td>
                            <td> {{row.wine_name}}</td>
                            <td> {{row.year}}</td>
                            <td> {{row.winery}}</td>
                            <td> {{row.variety}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% if twitter and twitter != '' %}
                <h3>Connect with your wine match on Twitter: {{twitter[0].twitter}}</h3>
                {% endif %}
        </div>
	</div>


{% endblock %}

