{% extends "base.html" %}


{% block title %}   
Wine Web Visualizations 
{% endblock %}


{% block content %}

	<div class="container">
		<div class="jumbotron jum-sty">
            <h3> Stats based on database contents </h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Wines in Database</td>
                            <td>{{data.totwin}}</td>
                        </tr>
                        <tr>
                            <td>Total Wineris in Database</td>
                            <td>{{data.totwinery}}</td>
                        </tr>
                        <tr>
                            <td>Hightest wine price</td>
                            <td>$ {{data.mstwin}}</td>
                        </tr>
                        <tr>
                            <td>Lowest wine price</td>
                            <td>$ {{data.lstwin}}</td>
                        </tr>
                        <tr>
                            <td>Average wine price</td>
                            <td>$ {{data.avgwin}}</td>
                        </tr>
                        <tr>
                            <td>Total number Users in Database</td>
                            <td>{{data.totusr}}</td>
                        </tr>
                        <tr>
                            <td>Total number Reviews in Database</td>
                            <td>{{data.totrev}}</td>
                        </tr>
                    </tbody>
                </table>
        </div> 
	</div>	

{% endblock %}