{% extends "base.html" %}


{% block title %}   
Wine Web View Log
{% endblock %}


{% block content %}

	<div class="container">
		<div class="jumbotron jum-sty">
			<div class = "row">
			{%if result%}
			<form action = "" method = "GET">
			<h3>Here are your past logs. </h3> 
			<a class="btn btn-success" href="/add_review"> Add log</a>
			<table class = "table table-striped">
				<thead>
					<tr>
						<b>
						<th>Date Logged</th>
						<th> Wine </th>
						<th> Price </th>
						<th> Purchased From </th>
						<th> Rating </th>
						<th> Notes </th>
						<th></th>
						<th></th>
						</b>
					</tr>
				</thead>
				<tbody>
					{%for row in result%}
					<tr>
						<td>{{row.log_date}}</td>
						<td>{{row.wine_name}}</td>
						<td>{{row.price}}</td>
						<td>{{row.purchased_from}}</td>
						<td>{{row.rating}}</td>
						<td>{{row.description}}</td>
						<td>
						  <form action="{{url_for('dellog', id=row.log_id)}}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<input type="submit" value="Delete" class="btn btn-danger">
						  </form>
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
			</form>
			{%endif%}
			</div>
		</div>
			 
			
		</div>
	</div>	

{% endblock %}