{% extends "base.html" %}


{% block title %}   
Wine Web Visualizations 
{% endblock %}


{% block content %}

	<div class="container">
        <div id="dropdown_bar"></div>
        <h2 id="descr"></h2>
        <div class="svg_canvas"></div>
	</div>	

{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
    
    var data = {{data | safe}};
    var tableData = data.names;
    
</script>
<script src="{{url_for('.static', filename='Js/viz.js')}}"></script>
<script>
    $(function() {
        updateBarChart();
    });    
</script>
{{super()}}
{% endblock %}